<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<style type="text/css">
    body {
        background-color: whitesmoke;
    }
</style>

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h1 class="ui centered header">Welcome <%= name %>
            </h1>
            <div class="ui centered card">

                <div class="content">
                    <a class="header">
                        <%= name %>
                            <%= surname %>
                    </a>
                    <div class="meta">
                        <span class="date">
                            <%= email %>

                        </span>
                    </div>

                </div>
                <div class="ui fluid   large submit button">

                    <a href="/authUser/change-password">Change
                        My Password</a>
                </div>

            </div>


            <div class="ui  centered large submit button">
                <i class="ui left sign out alternate icon"></i><a href="/">Sign Out</a>
            </div>

        </div>
    </div>

</body>

<script>
    const token = '<%=token%>'
    localStorage.setItem('token', token)
</script>

</html>